<div class="ui text container first">
  <h2 class="ui dividing header">Login</h2>

  <form [formGroup]="form" (ngSubmit)="login()" class="ui form" novalidate>
    <div class="required field">
      <label>Benutzer</label>
      <input formControlName="username" placeholder="Benutzername">
    </div>
    <div class="required field">
      <label>Passwort</label>
      <input type="password" formControlName="password" placeholder="Passswort">
    </div>
    <button [class.disabled]="!form.valid" class="ui button primary" type="text">Login</button>
  </form>

  <div>{{message}}</div>

</div>