<div class="ui grid centered container first">

  <div class="twelve wide centerd column">

    <h2 class="ui header">Allgemeine Inforamtionen</h2>
    <div class="ui divider"></div>

    <form [formGroup]="form" class="ui equal width small form" novalidate>

      <div class="fields">
        <div [ngClass]="{'error': (form.controls.flightNr.dirty && ( notValidFlightNumber || form.controls.flightNr.errors )), 'success': (!form.controls.flightNr.errors && !notValidFlightNumber)}" class="required field">
          <label>Flugnummer</label>
          <input formControlName="flightNr" placeholder="Flugnummer">
        </div>

        <div [ngClass]="{'error': (form.controls.flightDate.dirty && ( notValidDate || form.controls.flightDate.errors )), 'success': (!form.controls.flightDate.errors && !notValidDate)}" class="required field">
          <label>Flugdatum</label>
          <!-- <app-date-picker (er)="test" ></app-date-picker> -->
           <input formControlName="flightDate" placeholder="dd.mm.yyyy">
        </div>

      </div>

      <div class="fields">
        <div [ngClass]="{'error': (form.controls.flightType.dirty && !form.controls.flightType.valid)}" class="required field">
          <label>Flugart</label>
          <select formControlName="flightType" class="ui dropdown" id="select">
            <option value="">Flugart</option>
            <option *ngFor="let item of flightType.values" value="{{item.value}}">{{item.display}}</option>
          </select>
        </div>

        <div class="required field">
          <label>Problem</label>
          <select formControlName="flightProblemCase" class="ui dropdown" id="select2">
            <option value="">Problem</option>
            <option *ngFor="let item of problemType.values" value="{{item.value}}">{{item.display}}</option>
          </select>
        </div>
      </div>

      <button [class.disabled]="!form.valid" class="ui button primary" type="text">Weiter</button>
    </form>

  </div>



  <div class="row">
    <div class="six wide column">
      <app-search-flight>
        <label>Start</label>
      </app-search-flight>
    </div>
    <div class="six wide column">
      <app-search-flight>
        <label>Ziel</label>
      </app-search-flight>
    </div>
  </div>

</div>