<div class="ui grid centered container first">

  <div class="twelve wide centerd column">

    <h2 class="ui header">Allgemeine Inforamtionen</h2>
    <div class="ui divider"></div>

    <form [formGroup]="form" class="ui equal width small form" novalidate>

      <div class="fields">
        <div class="field">
          <label>Flugnummer</label>
          <input formControlName="flightNr" placeholder="Flugnummer">
        </div>

        <div class="field">
          <label>Flugdatum</label>
          <app-date-picker></app-date-picker>
        </div>

      </div>

      <div class="fields">
        <div class="field">
          <label>Flugart</label>
          <select formControlName="flightType" class="ui dropdown" id="select">
            <option value="">Flugart</option>
            <option *ngFor="let item of flightType.values" value="{{item.value}}">{{item.display}}</option>
          </select>
        </div>

        <div class="field">
          <label>Problem</label>
          <select formControlName="flightProblemCase" class="ui dropdown" id="select2">
            <option value="">Problem</option>
            <option *ngFor="let item of problemType.values" value="{{item.value}}">{{item.display}}</option>
          </select>
        </div>
      </div>

      <button [class.disabled]="!form.valid" class="ui button primary" type="text">Weiter</button>

    </form>
  </div>

  <div class="row">
    <div class="six wide column">
      <app-search-flight>
        <label>Start</label>
      </app-search-flight>
    </div>
    <div class="six wide column">
      <app-search-flight>
        <label>Ziel</label>
      </app-search-flight>
    </div>
  </div>

</div>