<div class="ui grid centered container first">

  <div class="twelve wide centerd column">
    <form [formGroup]="form" class="ui equal width small form" novalidate>

      <div class="fields">
        <div class="field">
          <label>Flugnummer</label>
          <input formControlName="flightNr" placeholder="Flugnummer">
        </div>

        <div class="field">
          <label>Fludatum</label>
          <input formControlName="flightDate" placeholder="Abflugdatum">
        </div>
      </div>

      <div class="fields">
        <div class="field">
          <label>Flugart</label>
          <select (click)="toggle()" formControlName="flightType" class="ui dropdown" id="select">
        <option value="">Flugart</option>
        <option value="male">Direktflug</option>
        <option value="female">Flug mit Umstieg</option>
      </select>
        </div>

        <div class="field">
          <label>Problem</label>
          <select (click)="toggle()" formControlName="flightProblemCase" class="ui dropdown" id="select2">
        <option value="">Problem</option>
        <option value="male">Technischer Defekt</option>
        <option value="female">Streik</option>
      </select>
        </div>
      </div>

      <button [class.disabled]="!form.valid" (click)="show()" class="ui button primary" type="text">Weiter</button>

    </form>
  </div>

  <div class="row">
    <div class="six wide column">
      <app-search-flight>
        <label>Start</label>
      </app-search-flight>
    </div>
    <div class="six wide column">
      <app-search-flight>
        <label>Ziel</label>
      </app-search-flight>
    </div>
  </div>

</div>