<div class="ui container">
  
  <div class="ui secondary pointing menu">
    <a routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="item">Home</a>
    <a routerLink="/forms" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="item">Antrag prüfen</a>
    <!-- <a routerLink="/contact" [routerLinkActiveOptions]="{exact:true}" class="item">Kontakt</a> -->

    <div class="right menu">
      <a class="ui item">Login</a>
    </div>
  </div>

</div>