<div class="ui container">

  <div class="ui secondary pointing menu">
    <a routerLink="/" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="item">Home</a>
    <a routerLink="/forms" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="item">Antrag prüfen</a>
    <a routerLink="/reason" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="item">REASON</a>

    <div class="right menu">
      <a routerLink="/register" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="ui item">Register</a>
      <a routerLink="/login" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="ui item">Login</a>
    </div>
  </div>

</div>