.ui.animated.selection.list {
	position:absolute;
	width: 328px;
	left:10px;
	top: 50px;
	z-index: 10;
	background-color: #C1E1FF;
	border-width: 2px;
}

.ui.animated.selection:active {
	border: 0.5px solid grey;
}