<div class="ui container">
  <form [formGroup]="form" class="ui small form" novalidate>

    <div class="field">
      <ng-content></ng-content>
      <input (keyup)="search($event.target.value)" formControlName="airport" placeholder="Flughafen">
    </div>

  </form>

  <div class="column">
    <div class="ui middle aligned selection animated list">
      <div *ngFor="let entry of results | async" class="item">
        <div (click)="addValue(entry.value)" class="header">{{ entry.value }}</div>{{ entry.code }}
      </div>
    </div>
  </div>


</div>