<form [formGroup]="form" class="ui equal width form" novalidate>

  <div class="fields">
    <div [ngClass]="{'disabled':processing}" class="required field">
      <ng-content select=".label"></ng-content>
      <input (keyup)="search($event.target.value)" formControlName="airport" placeholder="Flughafen">
    </div>
    <div [ngClass]="{'disabled':processing}" class="required field">
      <ng-content select=".plannedDate"></ng-content>
      <input (keyup)="onChange()" formControlName="date" placeholder="dd.mm.yyyy">
    </div>
  </div>

  <div class="fields">
    <div [ngClass]="{'error': (form.controls.hour.dirty && form.controls.hour.errors ), 'disabled':processing}" class="required field">
      <ng-content select=".plannedTime"></ng-content>
      <input (keyup)="onChange()" formControlName="hour" placeholder="hh:mm">
    </div>
    <div  [ngClass]="{'error': (form.controls.hourReal.dirty && form.controls.hourReal.errors ), 'disabled':processing}" class="required field">
      <ng-content select=".realTime"></ng-content>
      <input (keyup)="onChange()" formControlName="hourReal" placeholder="hh:mm">
    </div>
  </div>

</form>


<div class="ui animated selection list">
  <div *ngFor="let entry of results | async" class="item">
    <div (click)="addValue(entry.value)" class="header">{{ entry.value }}</div>{{ entry.code }}
  </div>
</div>