<div class="ui text container first">

  <h2 class="ui dividing header">Allgemeine Informationen</h2>

  <form [formGroup]="form" (ngSubmit)="processForm()" class="ui equal width form" novalidate>

    <div class="fields">
      <div [ngClass]="{'error': (form.controls.flightNr.dirty && ( form.controls.flightNr.errors?.notValidFlightNumber || form.controls.flightNr.errors )), 'success': (!form.controls.flightNr.errors && !form.controls.flightNr.errors?.notValidFlightNumber) && form.controls.flightNr.dirty, 'disabled': processing}"
        class="required field">
        <label>Flugnummer</label>
        <input formControlName="flightNr" placeholder="Flugnummer">
      </div>

      <div [ngClass]="{'error': (form.controls.flightDate.dirty && ( form.controls.flightDate.errors?.notValidDate || form.controls.flightDate.errors )), 'success': (!form.controls.flightDate.errors && !form.controls.flightDate.errors?.notValidDate) && form.controls.flightDate.dirty ,'disabled': processing}"
        class="required field">
        <label>Flugdatum</label>
        <!-- <app-date-picker (er)="test" ></app-date-picker> -->
        <input formControlName="flightDate" placeholder="dd.mm.yyyy">
      </div>

    </div>

    <div class="fields">
      <div [ngClass]="{'error': (form.controls.flightType.dirty && !form.controls.flightType?.valid && !processing), 'disabled': processing}"
        class="required field">
        <label>{{ flightType.display }}</label>
        <select formControlName="flightType" class="ui dropdown" id="select">
            <option value="">Flugart</option>
            <option *ngFor="let item of flightType.values" value="{{item?.value}}">{{item.display}}</option>
          </select>
      </div>

      <div [ngClass]="{'error': (form.controls.problemCase.dirty && !form.controls.problemCase?.valid && !processing), 'disabled': processing}"
        class="required field">
        <label>{{ problemType.display }}</label>
        <select formControlName="problemCase" class="ui dropdown" id="select2">
            <option value="">Problem</option>
            <option *ngFor="let item of problemType.values" value="{{item.value}}">{{item.display}}</option>
          </select>
      </div>
    </div>

    <button [class.disabled]="!form.valid" class="ui button primary" type="text">Weiter</button>
  </form>

  <h2 class="ui dividing header">Nennen Sie uns den Start und Zielflughafen</h2>

  <app-search-flight>
    <label>Start</label>
  </app-search-flight>

  <app-search-flight>
    <label>Ziel</label>
  </app-search-flight>





  <pre *ngIf="debug">
    flightNr dirty: {{form.controls.flightNr.dirty}}
    flightNr valid: {{form.controls.flightNr.valid}}
    flightDate dirty: {{form.controls.flightDate.dirty}}
    flightDate valid: {{form.controls.flightDate.valid}}
    flightType dirty: {{form.controls.flightType.dirty}}
    flightType valid: {{form.controls.flightType.valid}}
    problemCase dirty: {{form.controls.problemCase?.dirty}}
    problemCase valid: {{form.controls.problemCase?.valid}}
  </pre>

  <div *ngIf="message" [ngClass]="messageClass" class="ui message">
    <i class="close icon"></i>
    <div class="header">
      {{message}}
    </div>
  </div>


</div>