<div class="ui container">
  <form [formGroup]="form" class="ui small equal width form" novalidate>

    <div class="fields">
      <div class="field">
        <label>Start</label>
        <input (keyup)="search($event.target.value)" formControlName="start" placeholder="Flughafen">
      </div>

      <div class="field">
        <label>Ziel</label>
        <input formControlName="end" placeholder="Flughafen">
      </div>
    </div>

  </form>

  <div class="ui grid container">

    <div class="six wide column">
      <div class="ui middle aligned selection animated list">
         <div *ngFor="let entry of resultsStart | async" class="item">
           <div class="header">{{ entry.value }}</div>{{ entry.code }}
        </div>
      </div>
    </div>

    <!-- <div class="six wide column">
      <div *ngIf="resultsEnd" class="ui middle aligned selection animated list">
        <div *ngFor="let entry of resultsEnd" class="item">
          <div (click)="addValue(entry.value, 'end')" class="header">{{ entry.value }}</div>{{ entry.code }}
        </div>
      </div>
    </div> -->

  </div>

</div>